body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: rgba(229, 84, 115, 0.459);
    padding: 40px 150px 0 150px; 
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.banner-photo{
    width: 600px;
    height: 800px;
}
.banner-tittle{
    color: #272727;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);  
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #e55473ce;
    padding: 20px 43px;
    border: 0;
}
/* Featured Flowers-section */
.Featured{

}
.section-tittle{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.Featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0 300px;
}
.photo{
    width: 200px;
}
.flowers{
    display: flex;
    padding: 50px 150px;
    justify-content: space-around;
    gap: 24px;
}
.flower-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 60px 0 60px;
}
.flower-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 60px 0 60px;
}
.flower-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 100px 60px 0 60px;
}
.tree{
    display: flex;
    padding: 0px 150px;
    justify-content: space-around;
}

.color-tree{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}